/* index.css */


body {
	margin: 0;
	font-family:  "Inter";
}

.body-container {
	padding-left: 250px;
	font-family:  "Inter";
}

/* .container {
    display: flex;
    width: 100%;
    height: 100vh;
} */

/* Sidebar */
#sidebar {
	width: 250px;
}

/* Dashboard */
#content {
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
}

.bg {
	background: linear-gradient(
			270deg,
			#333335 0%,
			#333335 40.92%,
			rgba(52, 53, 63, 0.86) 70.37%,
			rgba(40, 42, 55, 0.39) 100%
		),
		url("../images/login-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	/* display: flex;
            justify-content: center;
            align-items: center; */
	margin: 0;
	display: flex;
	justify-content: flex-end; /* Push content to the right */
	height: 100vh;
}
.login-form{
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.form{
	display: flex;
	flex-direction: column;
	gap: 70px;
}


.form-fields{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login-header {
	/* display: flex
;
    justify-content: end;
    /* padding: 20%; */
	/* height: 60vh;
    align-items: center;  */
	color: #FFF;
font-family:  "Inter";
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.3px;
}
.login-logo {
	display: flex;
	justify-content: center;
}

.logo-image {
	height: 185px !important;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: end; */
	/* justify-content: flex-end; */
	/* align-items: end; */
	padding-right: 150px;
}

.login-subtext {
	font-size: 16px;
	font-weight: 500;
	color: #8c8c8c;
	font-family:  "Inter";
}

.input-group,.input-group1 {
	background-color: #444444;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	width: 485px;
	align-items: center;
}
.input-group i {
	color: #e0f049;
	font-size: 22px;
}

.ri-mail-fill{
	color: #e0f049;
}
.login-input,.password-input {
	width: 100%;
	padding: 10px;
	border: none;
	background-color: transparent;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	outline: none;
	width: 485px;
	height: 30px;
	color: white;
}

.otp-button {
	width: 505px;
	height: 56px;
	border-radius: 8px;
	border: none;
	background: #e0f049;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

.input-button-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.otp-container {
	display: flex;
	justify-content: start;
	gap: 17px;
}
.no-gap {
	gap:0px !important; /* Remove gap when button text is "Login" */
}
.otp-section{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.otp-input {
	width: 70px;
	height: 69px;
	font-size: 32px;
	text-align: center;
	border: 1px solid #e0f049;
	border-radius: 5px;
	outline: none;
	background: transparent;
	color: white;
}

.enter-otp-title {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.otp-timer{
	color: #cdcdcd;
}

.containerr {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.ag-cell-edit-input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  width: 100%;
}
.ag-cell-edit-input:focus {
  border-color: 1px solid #e7e7e7;
  box-shadow: none !important;
  outline: none !important;
}

.ag-theme-quartz .ag-ltr input[class^=ag-][type=text]{
	    outline: none;
    border: 1px solid #e7e7e7;
    box-shadow: none;
}

.ag-cell-value .ag-cell .ag-cell-normal-height .ag-cell-not-inline-editing{
	padding: 0px !important;
}

.input-group {
    position: relative;
}

.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#otpTimer{
	color: #cdcdcd
}

.enter-otp-section{
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.otp{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.resend-otp-container{
	width: 505px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 54px;
}

.resend-otp{
	color: #E0F049;
	text-decoration: underline;
	cursor: pointer;
}
.login-header-container{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login-input::placeholder,.password-input::placeholder{
	font-size: 18px;
	font-weight: 700;
}