.master-data{
    padding: 20px;
    background: #f1f3f5;
     height: 100vh;
}


.master-data-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.function1{
        background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000003;
}

  .card-container {
            display: flex;
            flex-direction: column;  /* Stack cards vertically */
            gap: 1rem;  /* Space between cards */
            width: 100%;
        }

        .card {
            display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* Adjust spacing between cards */
    padding: 16px;
            background: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            align-items: center;
        }

        .title {
            font-size: 16px;
    font-weight: 500;
        }

        .details {
            display: flex;
            flex-direction: column;
            /* gap: 0.5rem; */
            font-size: 14px;
        }

        .icon {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .icon img {
            width: 20px;
            height: 20px;
        }

        .level-badge {
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
        }
        .level-1 { background-color: #e3f5ff; color: #009ffd; }
        .level-2 { background-color: #FFF3DA; color: #f2a500; }
        .level-3 { background-color: #ede7fb; color: #7600fd; }
        .level-4 { background-color: #f1ffe3; color: #5fb824; }


        .ag-icon-menu::before{
    content: "\ed24" !important;
    font-family: 'remixicon' !important;
    opacity: 1 !important;
  visibility: visible !important;
}
.ag-icon-previous::before{
    content: "\ea64" !important;
    font-family: 'remixicon' !important;
    background-color: white;
    border: 0.9px solid #e7e7e7;
    border-radius: 4px;

}

.ag-disabled .ag-icon-previous::before {
    background-color: transparent !important;
    border: none !important;
}

.ag-icon-next::before{
    content: "\EA6e" !important;
    font-family: 'remixicon' !important;
    background-color: white;
    border: 0.9px solid #e7e7e7;
    border-radius: 4px;

}
.ag-disabled .ag-icon-next::before {
    background-color: transparent !important;
    border: none !important;
}

.ag-icon-asc::before {
    content: "\ea76" !important; /* Remix Icon Unicode */
    font-family: 'remixicon' !important;
   
}

.ag-icon-desc::before {
    content: "\ea4c" !important; /* Remix Icon Unicode */
    font-family: 'remixicon' !important;
}
.ag-icon-small-down::before{
    content: "\ea4e" !important;
     font-family: 'remixicon' !important;

}

.calendar-image{
    width: 37px;
    height: 35px;
}

.img-details{
    display: flex;
        align-items: center;
    gap: 1rem;
}

.creation-text{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #91929E;
    
}

.creation-date{
    font-size: 14px;
    font-weight: 500;
    color: #0A1629;
}

#prevPage,#nextPage{
    border: 0.9px solid #e7e7e7 !important;
    background-color: #fff !important;
    border-radius: 4px;
}

#prevPage:disabled, #nextPage:disabled{
    border: none !important;
    background-color: transparent !important;
}

.sidebar_img{
    height: 48px;
    width: 48px;
}

.offcanvas{
    width: 611px !important;
    border-radius: 6px !important;
}

.select-option,.form-control{
    width: 268px !important;
    border: 1px solid #686D9A33;

}
.form-control:focus, 
.form-select:focus {
    outline: none !important; /* Removes the default outline */
    box-shadow: none !important; /* Removes Bootstrap's default shadow */
    border-color: #ccc !important;
}

.offcanvas-subtitle{
    color: #939393;
    font-size: 14px;
    font-weight: 400;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.RO-zone-dropdown{
    gap: 44px;
}

.offcanvas-title{
    color: #353535;
    font-size: 18px;
    font-weight: 600;
}

.form-label{
    color: #4F5375;
    font-size: 14px;
    font-weight: 500;
}

.add-button{
    width: 120px;
    height: 34px;
    background: #333335 !important;
    border: none !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #E0F049 !important;
}

.cancel-button{
    width: 120px;
    height: 34px;
    font-size: 14px !important;
    color: #333335 !important;
    font-weight: 600 !important;
}

.cancel-button:hover{
    background-color: transparent !important;
}

.user-buttons{
    border-top: 1px solid #d7d7d7;
}

.approval-level-heading-container{
    display: flex;
    gap: 10px;
}

.approval-level-heading{
    font-size: 14px;
    font-weight: 500;
    color: #333335;
}

.approval-level-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-level-button{
    width: 60px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #333335;
    background-color: #fff;
    color: #333335;
}

.tooltip .tooltip-inner {
  background-color: #333335;     /* Optional: dark background */
  color: #E0F049 !important;   /* Yellow text */
  font-size: 12px;
  font-style: italic;
  padding: 6px 10px;
  border-radius: 4px;
    white-space: nowrap !important;
  width: auto !important;
  max-width: none !important;
}

.add-level-button:disabled{
    opacity: 0.5;
}

    .form-check-input:checked {
    background-color: #333335 !important;
    border-color:white !important;
    color: white !important;}

    .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none !important;
}
.save-btn{
    background: none;
    border: none;
    color: green;
    font-size: 20px;
}

.cancel-btn{
 background: none;
    border: none;
    color:red;
    font-size: 20px;
}

    #editBtn1 {
        padding: 8px;
        border: none;
        background-color: #333335;
        color: #E0F049;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        gap: 4px;
    }

    .zone-title,.subZone-title,.RO-title{
        font-size: 18px;
        font-weight: 500;
    color: #333335;
    }

    #addFieldBtn,#addFieldBtn1,#addFieldBtn2{
        padding: 9px 10px;
        border: 1px solid #333335;
        height: 34px;
        width: 60px;
        font-size: 14px;
        font-weight: 500;
        color: #333335;
        border-radius: 4px;
        background: white;
    }
    .ri-delete-bin-line{
        font-size: 16px;
        margin-bottom: 1rem;
        color: #FF7063;
    }