.user-management{
    padding: 20px;
    background: #f1f3f5;
    height: 100vh;
}

.user-management-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.offcanvas{
    width: 520px !important;
    border-radius: 6px !important;
}



.offcanvas-header{
    display: flex;
    align-items: flex-start !important;
    box-shadow: 0px 4px 4px 0px #D8D8D840;

    
}

.offcanvas-body{
    padding: 30px 24px !important;
}
.offcanvas-title{
    font-size: 18px;
    font-weight: 600;
    font-family:  "Inter";
    
}

.offcanvas-subtitle{
    font-size: 14px;
    font-weight: 400;
    color: #939393;
}

.form-label{
    font-size: 16px;
    color: #4F5375;
    font-weight: 500;

}

.form-class{
    gap: 30px;
}

.user-buttons{
    border-top: 1px solid #d7d7d7;
}

.save-btn{
    background: none;
    border: none;
    color: green;
    font-size: 20px;
}

.cancel-btn{
 background: none;
    border: none;
    color:red;
    font-size: 20px;
    
}
.btn-close{
    color: #74828F;
}

.cancel-button{
    width: 120px;
    height: 34px;
    font-size: 16px !important;
    color: #333335 !important;
    font-weight: 600 !important;
       display: flex !important
;
    justify-content: center !important;
    align-items: center !important;
}

.cancel-button:hover{
    background-color: transparent !important;
}
.email-error-cell {
    border: 1px solid red !important;
}

.form-control{
    font-size: 14px !important;
    color: #333335 !important;
    border: 1px solid #e1e2eb !important;
}

.form-control::placeholder, 
.form-select::placeholder {
    color: #A7A8B9 !important; /* Change to any color you prefer */
    opacity: 1; /* Ensure full visibility */
}

.form-control:focus, 
.form-select:focus {
    outline: none !important; /* Removes the default outline */
    box-shadow: none !important; /* Removes Bootstrap's default shadow */
    border-color: #ccc !important;
}

.centered-header .ag-header-cell-label {
    justify-content: center !important; /* Centers header text */
    text-align: center;
}
.add-button{
    width: 120px;
    height: 34px;
    background: #333335 !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #E0F049 !important;
        display: flex !important
;
    justify-content: center !important;
    align-items: center !important;
}

#uploadedImage{
    height: 78px;
    width: 78px;
}
.dropzone_text{
    display: flex;
    flex-direction: column;
}
.sidebar_img{
    height: 48px;
    width: 48px;
}


#dropzone {
    transition: border 0.3s ease-in-out;
}
#dropzone.border-primary {
    border: 2px dashed #007bff !important;
}

.hr{
    margin: 0;
    border: 1px solid;
}

.drag_and_drop_class{
    font-size: 16px;
    font-weight: 500;
    color: #484848;
}

.upload{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    color: #484848;
}

.text-muted{
    font-size: 14px;
    color: #484848;
}
 .tags-container {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .tag {
      background-color: #F3F3F3;
      padding: 6px 12px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #74828F;
      font-weight: 600;
    }

    .tag .remove-tag {
      margin-left: 8px;
      color: #333335;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
    }

    .tag .remove-tag:hover {
      color: #333335;
    }
.toast{
    background-color: #2D3438 !important;
    width: 329px !important;
    border-radius: 16px !important;
    padding-left: 8px;
    padding-right: 8px;
}

.toast-close{
    color: #E0F049 !important;
}
.custom-toast .btn-close {
    filter: invert(1); /* Makes it white */
    color: yellow !important;
}


.checkbox-circle{
    color: #E0F049 !important;
    font-size: 18px;
}
.toast-body{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
}

.select2-dropdown {
	border: 1px solid #e1e2eb !important;
	box-shadow: 0px 4px 4px 0px #a5a5a540;
}